.trending-container {
  background-color: #fff;
  color: #000;
  height: 25em;
}
.home-pic {
  min-height: 10em;
  width: auto;
  max-width: 30em;
  min-width: 1em;
  max-height: 15em;
  min-height: 15em;
}

.post-container {
  display: inline-block;
  margin-top: 0.01em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  min-width: 1em;
}

/* .trending-title {
  padding-top: 3em;
} */
