.home-container {
  margin-top: 3em;
}

.home {
  background-image: url('../../assets/dan-gribbin-50368-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 30em;
  border-bottom: solid #000 2px;
}

.home-text {
  padding-top: 4em;
  font-family: 'Monoton', cursive;

}
.side-tags:hover{
  cursor: pointer;
  background-color: #eee;
}
.side-tags > a {
  text-decoration: none;
  color: #000;
}
.home-red {
  color: #f00;
}
.home-green {
  color: #0f0;
}
.home-blue {
  color: #00f;
}

.home-render {
  padding-top: 3em;
}
input {
  text-align: center;
}

.home-side-render {
  padding-top: 2em;
}

.home-links:hover {
  background-color: #eee;
}
