.muted-container {
  background-color: #fff;
  color: #000;
  height: 25em;
}

.muted-title {
  padding-top: 0;
}

.steempx-posts{
  background-color: #fff;
  margin-top: 3em;
}

.steemit-posts{
  background-color: #ddd;
  margin-top: 3em;
}
.show {
  color: red;
}
.hide {
  color: blue;
}
