.followers-container {
  background-color: #fff;
  color: #000;
  height: 25em;
}

.followers-title {
  padding-top: 0;
}
.folowers-display {
  margin-top: 0.5em;
  width: auto;
  border: solid 1px #000;
  background-color: #999;
}
.folowers-display > a {
  text-decoration: none;
  color: #fff;
}
.folowers-display > a:hover {
  text-decoration: none;
  color: #fff;
}
