.muted-container {
  background-color: #fff;
  color: #000;
  height: 25em;
}

.muted-title {
  padding-top: 0;
}

.steempx-posts{
  background-color: #eee;
  margin-top: 3em;
}

.steemit-posts{
  background-color: #ddd;
  margin-top: 3em;
}
.card-container {
  display: block;
  margin-top: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: auto;
}

.not-home-pic {
  padding-top: 2em;
  min-height: 10em;
  width: auto;
  max-width: 45em;
  min-width: 7em;
  max-height: 30em;
}
