.trending-container {
  background-color: #fff;
  color: #000;
  height: 25em;
}
.home-pic {
  width: auto;
  max-width: 45em;
  min-width: 10em;
  height: 15em;
  border: solid 1px #000;
}

.post-container {
  margin-top: 2em;
  border-bottom: 0.01em solid #000;
}

/* .trending-title {
  padding-top: 3em;
} */
